<div class="container p-2">
    <div class="mt3 f4 measure-wide">
        Você pode conhecer cada criptomoeda clicando nelas!
    </div>

    <div class="row mt-3 mb-3 m-1" ng-if="coins">
        <div class="col-6">
            <input type="text" placeholder="filtrar criptomoeda" ng-model="search" ng-change="applyFilter(search)" />
        </div>
        <div class="col-6">
            <div class="p-1 m-2">
                <span>
                    Ordenar por: <b> {{ propertyOrder }} </b>
                </span>
                <button ng-if="!propertyOrder" ng-click="orderBy('name');" type="button"
                    class="btn btn-success btn-sm">nome</button>
                <button ng-if="!propertyOrder" ng-click="orderBy('current_price');" type="button"
                    class="btn btn-success btn-sm">preço</button>
                <button ng-if="propertyOrder" ng-click="orderBy('');" type="button"
                    class="btn btn-warning btn-sm">resetar</button>
            </div>
        </div>
    </div>


    <div class="row" ng-if="coins">
        <div class="col-3" ng-repeat="coin in bufferCoins | orderBy:propertyOrder:reverse">
            <div class="card p-1 m-2">
                <div class="card-title">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">{{coin.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{coin.symbol}}</h6>
                        </div>
                        <div class="col-4">
                            <img class="card-img-top image-responsive card-image rounded float-right"
                                style="width: 50px;" src="{{coin.image}}" alt="{{coin.name}}" />
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p>{{coin.market_cap_change_percentage_24h}}</p>
                    <p>
                        <span class="text-muted">
                            Preço do ativo:
                        </span>
                        {{coin.current_price | currency : '$ '}}
                    </p>

                    <p>
                        <span class="text-muted">
                            Maxima (24hrs):
                        </span>
                        {{coin.high_24h | currency : '$ '}}
                    </p>

                    <p>
                        <span class="text-muted">
                            Mínima (24hrs):
                        </span>
                        {{coin.low_24h | currency : '$ '}}
                    </p>

                    <p>
                        <a ui-sref="detail({name: coin.name})" class="no-underline pa4 black">
                            detail
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center" ng-if="bufferCoins.length != 0">
        <button ng-click="loadMore()" class="btn btn-secondary">
            Carregar mais
        </button>
    </div>

</div>